* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

@keyframes linear-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  background: linear-gradient(270deg, #001f3f, #003d7a, #003d7a, #001f3f);
  background-size: 400% 400%;
  animation: linear-gradient 15s ease infinite;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 38px;
}

.img__nav {
  display: block;
  width: 50px;
}

.nav nav {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 24px;
}

.btn__container {
  display: flex;
  gap: 20px;
}

.Login, .Register {
  border: none;
  padding: 10px 20px;
  background-color: #49769f;
  color: #fff;
  border-radius: 15px;
  user-select: none;
  transition: transform 0.3s, filter 0.3s;
}

.Login:hover, .Register:hover {
  transform: translateY(-5px);
  filter: drop-shadow(0 8px 12px rgba(73, 118, 159, 0.4));
}

.nav nav a {
  position: relative;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  color: #fff;
  font-weight: 300;
}

.nav nav a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -6%;
  transform:  translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s;
}

.nav nav a:hover::after {
  width: 100%;
}

.catalog__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.catalog__title {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  margin-top: 40px;
}

.title__card {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.description__card {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background-color: #f5f5f7;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border: 1px solid #eaeaea;
  padding: 20px 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.footer {
  background: linear-gradient(270deg, #000814, #001a2e, #001a2e, #000814);
  background-size: 400% 400%;
  animation: linear-gradient 15s ease infinite;
  text-align: center;
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.container__footer {
  display: flex;
  justify-content: center;
  align-items: end;
  user-select: none;
  gap: 20px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}


.button-wrapper button {
  outline: none;
  border: none;
  padding: 10px 20px;
  background-color: #020617;
  color: white;
  border-radius: 20px;
  transition: transform 0.3s;
  cursor: pointer;
  user-select: none;
}

.button-wrapper button:hover {
  transform: translateY(-5px);
}

.price {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  user-select: none;
}

@media (max-width: 720px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }

  .nav nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 24px;
  }

  .catalog__title h3 {
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .img__card {
    width: 20px;
    min-height: 80px;
  }

  .card {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .card:last-child {
    margin-bottom: 20px;
  }
}

@media (max-width: 540px) {
  .catalog__title h3 {
    text-align: center;
  }

  .card {
    min-width: 350px;
    min-height: fit-content;
  }
}

@media (max-width: 375px) {
  .card {
    min-width: 250px;
    min-height: fit-content;
  }

  .btn__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 95px;
  }

  .Login, .Register {
    width: 100%;
    text-align: center;
  }
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

@media (width >1120px) {
  .menu__btn {
    display: none;
  }

  .menu__box {
    display: none;
  }
}

@media (width <= 1120px) {
  .menu__btn {
    display: none;
  }

  .menu__box {
    display: none;
  }
}

@media (max-width: 720px) {
  .menu__btn {
    display: flex;
  }

  .menu__box {
    display: block;
  }

  .pc {
    display: none;
  }
}

.main {
  flex: 1;
  background: linear-gradient(135deg, #f5f5f7 0%, #e2e2e7 100%);
}

.footer {
  background: linear-gradient(270deg, #000814, #001a2e, #001a2e, #000814);
  background-size: 400% 400%;
  animation: linear-gradient 15s ease infinite;
  text-align: center;
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.container__footer {
  display: flex;
  justify-content: center;
  align-items: end;
  user-select: none;
  gap: 20px;
}

.footer__social a {
  color: #fff;
  display: inline-flex;
  text-decoration: none;
}

.footer__social a:first-child {
  margin-right: 5px;
}

.footer__social a:last-child {
  margin-left: 5px;
}

.footer__social a {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer__social a:hover {
  transform: translateY(-5px);
  filter: drop-shadow(0 8px 12px rgba(255, 255, 255, 0.4));
}

@media (max-width: 520px) {
  .container__footer {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  .img__nav {
    display: block;
    margin-left: 64px;
    max-width: 80px;
  }

  .btn__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .Login, .Register {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .btn__container {
    margin-left: 95px;
    margin-top: 15px;
  }
   
  .Login, .Register {
    width: 100%;
    text-align: center;
  }
}

.img__card {
  width: 200px;
  height: auto;
}











